.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer{
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color: #9575cd;
    color: floralwhite;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark{
    background-color: #512da8;
}



input[type="radio"]{
    margin: 0 10px 0 10px;
  }



.tab-content{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: 10px;
}

.romione{
    background: url("../img/romione.jpg") center no-repeat;
    background-position: top;
    display: block;
}

.drarry{  
    background: url("../img/drarry.jpg") center no-repeat;
    max-height: 410px;
}

.wolfstar{
    background: url("../img/wolfstar.jpg") center no-repeat;
}

.lily{
    background: url("../img/lily.jpg") center no-repeat;
    background-position: top;
}

.blog-card {
    max-width: 950px;
    width:100%;
    height: 450px;
    position: absolute;
    font-family: 'Droid Serif', serif;
    color:#fff;
    top: 20%;
    right: 0;  
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0px 10px 20px -9px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition:all 0.4s;
    background-size: auto;
    @media screen and (min-width: 400px) {
      body {
        background-size: 100%;
      }
    }
    @media screen and (min-width: 400px) {
      body {
        background-color: auto;
      }
    }
  }
  .blog-card a{ 
  color:#fff;
    text-decoration:none;
    transition:all 0.2s
  }
  .blog-card .color-overlay {
    background: rgba(64, 84, 94,0.5);
    width: 950px;
    height: 550px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
  }
  .blog-card .gradient-overlay {  
    background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.6) 21%);
    width: 950px;
    height: 550px;
    position: absolute;
    top: 350px;
    left: 0;
    z-index: 15;
  }
  .blog-card:hover{
      box-shadow: 0px 18px 20px -9px rgba(0, 10, 30, 0.75);
  }
  .blog-card:hover .card-info {
    opacity: 1;
    bottom: 100px;
  }
  .blog-card:hover .color-overlay {
    background: rgba(64, 64, 70,0.8);
  }
  .blog-card:hover .title-content{
    margin-top:70px
  }
  .title-content {
    text-align: center;
    margin: 170px 0 0 0;
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 0;
    left: 0;
    transition:all 0.6s
  }
  
  .blog-card:hover h3:after{
   
    animation: changeLetter 0.3s 1 linear;
    width:80%
  }
  
  .blog-card h3,h1 {
    font-size: 1.9em;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Abril Fatface', serif;
    margin-bottom: 0;
    display:inline-block;
  }
  .blog-card h3 a{  
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
    transition:all 0.2s
  }
  .blog-card h3 a:hover{
    text-shadow: 0px 8px 20px rgba(0, 0, 0, 0.95);
  }
  h3:after {
    content: " ";
    display: block; 
    width: 10%;
    height: 2px;
    margin: 20px auto;
    border: 0;
    background: #BDA26B;
    transition:all 0.2s
  }
  
  @keyframes changeLetter {
    0% {
      width: 10%;
    }
    100% {
      width: 80%;
    }
  }
  
  .intro {
    width: 170px;
    margin: 0 auto;
    color: #ddd;
    font-style: italic;
    line-height: 18px;
  }
  .intro a{
    color: #ddd
  }
  .intro a:hover{
    text-decoration:underline
  }
  .card-info {
     box-sizing: border-box;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0;
    margin: 0 auto;
    padding: 0 50px;
    font-style: 16px;
    line-height: 24px;
    z-index: 20;
    opacity: 0;
    transition: bottom 0.64s, opacity 0.63s cubic-bezier(0.33, 0.66, 0.66, 1);
  }
  
  .card-info a{
    display:block;
    width:100px;
    margin:15px auto;
    background:#fff;
    color:#444;
    padding:3px 10px;
    border-radius:2px;
    font-size:0.8em
  }
  .card-info a:hover{
    background: #8e7c49;
    color:#fff;
  }
  .card-info a:hover span{
     filter: brightness(10);
     opacity:1
  }
  .fillergap{
      height: 200px;
  }
  .bottomgap{
      height: 100px;
  }

  